<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!--单例-->
   <bean id="sinletonPerson" class="com.cskaoyan.bean.Person" scope="singleton"/>
   <!--默认是单例-->
   <bean id="animal" class="com.cskaoyan.bean.Animal"/>
   <!--非单例-->
   <bean id="dog" class="com.cskaoyan.bean.Dog" scope="prototype"/>
   <!--生命周期-->
   <bean id="menzz" class="com.cskaoyan.bean.Men" init-method="initzz" destroy-method="destroyzz">
      <property name="name" value="aaa"/>
   </bean>
</beans>